body {
    background-color: #f3f4f7;
}

#graphContainer {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 10px;
}

#adjacencyMatrixTable {
    margin-left: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

section {
    margin: 0 10px;
}

.top {
    display: flex;
    flex-direction: row;
}
.right {
    margin-left: 20px;
}

.block {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.matrixControl {
    display: flex;
    flex-direction: row;
}

#formForAddVertex {
    margin-right: 5px;
}

#facesListUl {
    font-size: 20px;
}

#facesListUl li {
    margin: 5px 0;
}

#facesListUl li:hover {
    background-color: lightgrey;
    transition: .2s;
}

#facesMatrixTable th:hover {
    background-color: lightgrey;
    transition: .2s;
}
