body {
    background-color: #f3f4f7;
}

#graphContainer {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin-top: 10px;
}

#adjacencyMatrixTable {
    margin-left: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.left, .right {
    margin: 0 10px;
}

.main {
    display: flex;
    flex-direction: row;
}

.block {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
