:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f3f4f7;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #e0e0e6;
  margin: 5px;
}
button:hover {
  border-color: #646cff;
  opacity: .8;
  transition: .2s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.matrix,
.matrix th,
.matrix td {
  border: 1px solid black;
  text-align: center;
}

.matrix th:hover,
.matrix td:hover {
  cursor: pointer;
  background-color: lightgrey;
  transition: 0.2s;
}

.block {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding:10px;
}
